# .env file
# Which model to use for diarization and transcription
DIARIZATION_MODEL=large-v3
TRANSCRIPTION_MODEL=large-v3

# Max concurrent diarizations and transcriptions
MAX_CONCURRENT_TRANSFORMS=1
# Max concurrent summaries with Ollama API endpoint
MAX_CONCURRENT_SUMMARIES=1

# Enable/Disable Ollama
DISABLE_OLLAMA=false
# separate ollama instance
REMOTE_OLLAMA=false
# docker.endpoint
OLLAMA_HOST=172.30.1.3
# remote.endpoint
#OLLAMA_HOST=10.2.8.101
# port
OLLAMA_PORT=11434
# transcriptionstream mistral model
OLLAMA_MODEL=transcriptionstream/transcriptionstream

# TS-Web secret key for flask app
TS_WEB_SECRET_KEY=transcriptionstream

# Meilisearch API Key
MEILI_MASTER_KEY=REQUIRED_FOR_SEARCH
# https://www.meilisearch.com/docs/learn/security/basic_security#creating-the-master-key-in-a-self-hosted-instance

# Local directory for mounting and shared volume
LOCAL_DIRECTORY=/mnt/d/docker-transcribe-ui

# Set project name
PROJECT_ID=transcribe-ui

# App paths
APP_DIR=/transcribe-ui
SCRIPTS_DIR=/transcribe-ui/scripts
UPLOAD_DIR=/transcribe-ui/incoming
TRANSCRIBED_DIR=/transcribe-ui/transcribed

# APP_DIR=/${PROJECT_ID}
# SCRIPTS_DIR=${APP_DIR}/scripts

# User paths
USER_DIR=/home/transcribe-ui

# USER_DIR=/home/${PROJECT_ID}
# UPLOAD_DIR=${USER_DIR}/incoming
# TRANSCRIBED_DIR=${USER_DIR}/transcribed